## Preprocessing

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import save_model

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [23]:
# Determine the number of unique values in each column.
unique = application_df.nunique()
print(unique)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type = application_df['APPLICATION_TYPE'].value_counts()
print(application_type)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = list(application_type[application_type< cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification = application_df['CLASSIFICATION'].value_counts()
print(classification)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification = classification[classification > 1]
print(classification)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff22 = 22
classifications_to_replace = list(classification[classification <= cutoff22].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      201
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C1580        1
C1900        1
C1820        1
C6100        1
C1248        1
C2600        1
C1370        1
C5200        1
C4200        1
C2190        1
C1236        1
C2570        1
C4500        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df = application_df.astype(int)

In [30]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train.columns)

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                6800

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 9261 (36.18 KB)
Trainable params: 9261 (36.18 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="Adamax", metrics=["accuracy"])

In [34]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=80, verbose=1)

Epoch 1/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5834 - accuracy: 0.7092
Epoch 2/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5549 - accuracy: 0.7301
Epoch 3/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7312
Epoch 4/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7325
Epoch 5/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7319
Epoch 6/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7327
Epoch 7/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7321
Epoch 8/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7330
Epoch 9/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7331
Epoch 10/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 11/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7337
Epoch 12/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7347
Epoch 13/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7350
Epoch 14/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 15/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7354
Epoch 16/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7359
Epoch 17/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7361
Epoch 18/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7360
Epoch 19/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 20/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7365
Epoch 21/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7365
Epoch 22/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 23/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7366
Epoch 24/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 25/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7380
Epoch 26/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7358
Epoch 27/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 28/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7374
Epoch 29/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 30/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7372
Epoch 31/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7376
Epoch 32/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7383
Epoch 33/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7379
Epoch 34/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7385
Epoch 35/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 36/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7383
Epoch 37/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7379
Epoch 38/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7377
Epoch 39/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7380
Epoch 40/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7383
Epoch 41/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 42/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7380
Epoch 43/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7383
Epoch 44/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 45/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7388
Epoch 46/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 47/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 48/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 49/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7383
Epoch 50/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7398
Epoch 51/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7400
Epoch 52/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 53/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7389
Epoch 54/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 55/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 56/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 57/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 58/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7407
Epoch 59/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 60/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 61/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 62/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7407
Epoch 63/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7401
Epoch 64/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 65/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 66/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7411
Epoch 67/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7410
Epoch 68/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 69/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 70/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 71/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7393
Epoch 72/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 73/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 74/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7412
Epoch 75/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7393
Epoch 76/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 77/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7418
Epoch 78/80
858/858 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7399
Epoch 79/80
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7411
Epoch 80/80
858/858 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7413

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5560 - accuracy: 0.7281 - 402ms/epoch - 2ms/step
Loss: 0.5560331344604492, Accuracy: 0.7281340956687927

In [36]:
# Export our model to HDF5 file
save_model(nn, 'my_model.keras')

print("Model saved successfully as HDF5 file.")

Model saved successfully as HDF5 file.